@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f6f6f6;
}
.box
{
    width: 300px;
}
.box h2{
    color: #fff;
    background: #03a9f4;
}